@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
}
body{
  /* background-color: #000; */
  min-height: 100vh;
}

.magic-tooltip{
  display: none;
}
.magic-wrap:hover .magic-tooltip{
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.card-main-wrap{
  display: none;
}

@media screen and (max-width: 768px) {
  .card-main-wrap{
    display: block;
  }
  .table-main-wrap{
    display: none;
  }
  .card-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    }

}

@media screen and (max-width: 480px) {
  .card-wrap{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    }

}


.card{
  background: gray;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

.card-label-wrap{
display: flex;
gap: 8px;
flex-wrap: wrap;
}

.label{
  font-weight: 600;
}